body{
    background-color: #330000;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    margin:0;
}
@font-face{
    font-family: 'WarnockPro';
    src: url("/fonts/WarnockPro-Bold.otf");
}
.timer{
    color:red;
    font-size: 6rem;
    font-weight: 250;
    font-family: 'WarnockPro', serif;
    z-index: -1;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 50%;
}
.return{

}
.img{

}
#background{
    background-image: url("img/ojo-bckgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: -3;
    left: 0;
    right: 0;
}
#text{
    width: 35%;
    height: 35%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -2;
    position: relative;
}
#countdown{
    text-align: center;
}
#return-img{

}